# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# model
#*.pth

semantic_drone_dataset/

*.bak

semantic.ipynb
Aerial_SemanticSegmentation.html

.gitignore
